div#cadastro{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/marco.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.navbar{
    width: 100%;
    height: 15%;

}

.footer{
    width: 100%;
    height: 10%;
}

.containerCadastro{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    align-items: center;
    border: 3px solid #383645;
    background-color: rgb(255 255 255 / 68%);

}

.containerCadastro h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #383645;
}

.formulario{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.formulario input{
    border: #383645 3px solid;
    border-radius: 5px;
    
}

.formulario label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 500;
    color: #383645;
}

.formulario button{
    height: 12%;
    width: 35%;
    font-size: 24px;
    background-color: #ffb100;
    border: #383645 3px solid;
    border-radius: 5px;
}
