.menu{
    height: 10vw;
    background-color: #383645;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.containerMenu{
    display: flex;
    justify-content: space-around;
}

.lista{
    list-style: none;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.imagem{
    height: 10vw;
}