/* .pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.55;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    border: none;
}

.pimg1 {
    background-image: url('../images/Cataratas.jpg')
}

.pimg2 {
    background-image: url('../images/marco.jpg')
}

.pimg3 {
    background-image: url('../images/iluminacao-da-barragem.jpg')
}


.section {
    text-align: center;
    padding: 35px 80px;
    background-color: #c5dbc7;
    border: none;
    margin: 0;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 4px;
    text-transform: uppercase;
    flex-wrap: wrap;
    flex-shrink: inherit;
}

.ptext .border {
    background-color: #383645;
    color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid white;
}

hr.linha {    
    color: white;
    margin: 0;
    width: 100vw;
    border-bottom: 1px solid white;
    border-top: none;
}

hr.divisor-footer {
    margin: 0;
    width: 100vw;
    color: white;
    border-bottom: 2px solid white;
    border-top: none;
} */